#ignore all file  几乎所有文件都有后缀名，这个排除了文件夹
*.*  
*Library/metadata/*
#keep fold 3rd
!/3rddll/*.*

!*.csproj
!*.unityproj
!*.sln
!*.suo
!*.user
!*.userprefs

!*.cs
!*.txt
!*.json
!*.csv
!*.ini
!*.doc
!*.docx
!*.xls
!*.xlsx
!.gitignore
!*.MD
!*.md
!*.zip
!.gitignore